#background-texture {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    background: url('../images/dot.png');
    opacity: 0.3;
}
#background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background: url('../images/mainbg.jpg') no-repeat transparent;
    background-size: cover;
    opacity: 1;
    background-position: 0 20%;
}

#mainHeader {
    padding: 4em;
    padding-top: 6em;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0px 0px 4px #5a5a5a);
    filter: drop-shadow(0px 0px 4px #5a5a5a);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

#mainHeader:hover {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
    filter: drop-shadow(0px 0px 7px #fff);
}

.loginbutton img{
    width: 2.2em;
    height: auto;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.loginbutton {
    /*background: #fff none repeat scroll 0 0;*/
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
    color: #fff;
    font-size: 1.2em;
    padding:.4em;
    height: 3em;
    border: none;
    width: 15em;
    -webkit-transition: all 1s; /* Safari */
    transition: all .5s;
    
}

#googleLogin {
    background: #da4835;

}

#googleLogin:hover {
    box-shadow: 0 0 5px #da4835;

}

#fbLogin {
    background: #39569b;
}
#fbLogin:hover {
    box-shadow: 0 0 5px #39569b;
}

#buyStockForm {
    margin-bottom: 5em;
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
   
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
   
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
}