#background-texture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    background: url('../images/dot.png');
    opacity: 0.3;
}
#background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background: url('../images/mainbg.jpg') no-repeat transparent;
    background-size: cover;
    opacity: 1;
    background-position: 0 20%;
}

#mainHeader {
    color: #3a3a3a;
    font-size: 9vw;
    padding-top: 1em;
    text-align: center;
    text-shadow: 0 0 7px #6a6a6a;
}


.loginbutton img{
    width: 2.2em;
    height: auto;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.loginbutton {
    /*background: #fff none repeat scroll 0 0;*/
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
    color: #fff;
    font-size: 1.2em;
    padding:.4em;
    height: 3em;
    border: none;
    width: 15em;
    
}

#googleLogin {
    background: #da4835;

}

#fbLogin {
    background: #39569b;
}




/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
#mainHeader {
    font-size: 20vw;
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
#mainHeader {
    font-size: 20vw;
    }    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
#mainHeader {
    font-size: 20vw;
    }    
}