#background-texture {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    background: url('../images/dot.png');
    opacity: 0.3;
}
#background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background: url('../images/mainbg.jpg') no-repeat transparent;
    background-size: cover;
    opacity: 1;
    background-position: 0 20%;
}

#mainHeader {
    padding: 4em;
    padding-top: 6em;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0px 0px 4px #5a5a5a);
    filter: drop-shadow(0px 0px 4px #5a5a5a);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

#mainHeader:hover {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
    filter: drop-shadow(0px 0px 7px #fff);
}

.loginbutton img{
    width: 2.2em;
    height: auto;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.loginbutton {
    /*background: #fff none repeat scroll 0 0;*/
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
    color: #fff;
    font-size: 1.2em;
    padding:.4em;
    height: 3em;
    border: none;
    width: 15em;
    -webkit-transition: all 1s; /* Safari */
    transition: all .5s;
    
}

#googleLogin {
    background: #da4835;

}

#googleLogin:hover {
    box-shadow: 0 0 5px #da4835;

}

#fbLogin {
    background: #39569b;
}
#fbLogin:hover {
    box-shadow: 0 0 5px #39569b;
}

.success {
    color: #FFF;
    padding: 0.3em;
    text-align: center;
    font-size: 1.2em;
    background: #1ec438 none repeat scroll 0px 0px;
}
.error {
    color: #FFF;
    padding: 0.3em;
    text-align: center;
    font-size: 1.2em;
    background: #C55551 none repeat scroll 0px 0px;
}

#buyStockForm {
    margin-bottom: 5em;
}

.withJS {
    display: none;
}

#lightboxbg {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#lightbox{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    width: 600px;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}

.lightboxelement{
    display: none;
}

#lightboxStockcode2{
    display: none;
}

#lightboxInput{
    padding: .2em;
}

#crossLightbox{
    float: right;
}
#crossLightbox:hover{
    cursor: pointer;
}






#sell-lightboxbg {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#sell-lightbox{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    width: 600px;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}

.sell-lightboxelement{
    display: none;
}

#sell-lightboxStockcode2{
    display: none;
}

#sell-lightboxInput{
    padding: .2em;
}

#sell-crossLightbox{
    float: right;
}
#sell-crossLightbox:hover{
    cursor: pointer;
}



#stockchart {
    height: 70vh;
    margin-top: 50px;
}

.buyLinkDetails {
    float: right;
}
.backtomw{
    float: left;
}



/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
#lightbox{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    width: 100%;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}
#sell-lightbox{
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    width: 100%;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
#lightbox{
    background: #fff;
    position: fixed;
    top: 1em;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}

#sell-lightbox{
    background: #fff;
    position: fixed;
    top: 1em;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 16px;
    z-index: 1002;
    overflow: auto;
    box-shadow: 0 0px 24px rgb(0, 0, 0);
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
}