{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Buy Stocks |{% endblock %}
{% block titlemeta %}Buy Stocks |{% endblock %}
{% block body %}

<div id="background-image"></div>
<div id="background-texture"></div>




<!-- NAV BAR START ==================================================== -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="pull-left"><img style="max-width:100px; margin: 10px;" src="{% static "images/logo.png" %}"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/marketwatch">Marketwatch</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/sellstock">Sell Stocks</a></li>
				<li><a href="/ranking">Rankings</a></li>
				<li><a href="/logout?next=/">Logout</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR END ==================================================== -->


<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			<h1>Buy Stocks</h1>
			<h4>Current Cash Balance: {{ player.cash }}</h4>
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
			{% endif %}
			<form action="." method="post" id="buyStockForm">{% csrf_token %}
				<table class="table table-striped table-bordered table-hover" id="buystockTable">
					<tr><th class="withoutJS">Select</th><th class="stocknamecol">Stock Name</th><th>Stock Code</th><th>Current Stock Price</th><th class="withJS">Buy</th></tr>
					{% for i in stocks %}
					<tr>
						<td class="withoutJS"><input type="radio" name="stock_code" value="{{ i.code }}"></td>
						<td class="stocknamecol">{{ i.name }}</td>
						<td class="stockcodecol">{{ i.code }}</td>
						<td class="stockpricecol" >{{ i.price }}</td>
						<td class="stockbuybutton withJS" ><button class="btn btn-primary buyJsButton" data-stockName="{{ i.name }}" data-stockCode="{{ i.code }}">Buy</button></td>
					</tr>	
					{% endfor %}
				</table>
				<div class="withoutJS">
					<h4 >Number of stocks to buy:</h4>
					<input type="text" name="number_of_stocks">
				</div>
				<input class="btn btn-primary withoutJS" type="submit" value="Buy Stock">
			</form>
		</div>
	</div>
</div>


<!-- LIGHTBOX ============== -->
<div id="lightboxbg" class="lightboxelement"></div>
<div id="lightbox" class="lightboxelement">
	<span id="crossLightbox" class="glyphicon glyphicon-remove"></span>
	<form action="." method="post" id="buyStockForm">{% csrf_token %}
		<h2 id="lightboxStockname">Hello</h2>
		<h3 id="lightboxStockcode">Hello</h3>
		<input id="lightboxStockcode2" type="text" name="stock_code" value="testval">
		<h4>Number of stocks to buy:</h4>
		<input id="lightboxInput" type="text" name="number_of_stocks" placeholder="number of stocks to buy">
		<input class="btn btn-primary" type="submit" value="Buy Stock">
	</form>
</div>

{% endblock %}
