{% extends "base.html" %}
{% block body %}
<div id="background-image"></div>
<div id="background-texture"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    	<h1 id="mainHeader">Freemex</h1>
    	<li>
    	<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
		<li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a></li>

    </div>
  </div>
</div>

{% endblock %}
