{% extends "base.html" %}
{% load static from staticfiles %}
{% block body %}
<div id="background-image"></div>
<div id="background-texture"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h3 id="muktiPresents"><a href="http://mkti.in">Mukti 2016 presents</a></h3>
    	<img class="img-responsive" id="mainHeader" src="{% static "images/logo.png" %}"/> 
    	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    	<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
    		<button class="loginbutton" id="fbLogin">
    		<img src="{% static "images/fb.png" %}"/>
    		Login with Facebook
    		</button>
    	</a>
    	</div>

    	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
			<button class="loginbutton" id="googleLogin">
			<img src="{% static "images/google.png" %}"/>
    		Login with Google
			</button>
		</a>
		</div>

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <hr class="shadowHr">
            <div id="mainDescription">
                Freemex is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks and score wins the game.<br/>
                Come and play and see whether you have it in you to become the Wolf of the Wall Street!!
                <h2 align="center">Win First prize worth 5000 INR</h2>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
