{% extends "base.html" %}
{% load static from staticfiles %}
{% block body %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="." method="post">{% csrf_token %}
<select name="stock_code">
	{% for i in stocks %}
	<option value="{{ i.stock }}">{{ i.stock.name }} | You Have: {{ i.quantity }}</option>	
	{% endfor %}
</select>
<br/>
Number of Stocks to sell: <input type="text" name="number_of_stocks">
<br/>
<input type="submit" value="Sell Stock">
</form>
{% endblock %}