{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Stock Details {{ code }} |{% endblock %}
{% block titlemeta %}Stock Details {{ code }} |{% endblock %}
{% block body %}

<div id="background-image"></div>
<div id="background-texture"></div>




<!-- NAV BAR START ==================================================== -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="pull-left"><img style="max-width:100px; margin: 10px;" src="{% static "images/logo.png" %}"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/marketwatch">Marketwatch</a></li>
				<li><a href="/buystock">Buy Stocks</a></li>
				<li><a href="/sellstock">Sell Stocks</a></li>
				<li><a href="/ranking">Rankings</a></li>
				<li><a href="/logout?next=/">Logout</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<!-- NAV BAR END ==================================================== -->

<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			<h4 class="backtomw"><a href="/marketwatch"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Matketwatch</a></h4>
			<h4 class="buyLinkDetails"><a href="/buystock">Buy Stock</a></h4>
		<div id="stockchart">
			<!-- TradingView Widget BEGIN -->
			<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
			<script type="text/javascript">
			new TradingView.widget({
			  "autosize": true,
			  "symbol": "{{code}}",
			  "interval": "1",
			  "timezone": "Etc/UTC",
			  "theme": "White",
			  "style": "2",
			  "locale": "en",
			  "toolbar_bg": "#f1f3f6",
			  "hide_top_toolbar": true,
			  "save_image": false,
			  "hideideas": true
			});
			</script>
			<!-- TradingView Widget END -->
		</div>
		</div>
	</div>
</div>

{% endblock %}